@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body{
    margin: 0;
}

main{
    text-align: justify;
    padding: 8px;
}

.img_intro{
    display: block;
    margin: auto;
    width: 80%;
    height: 650px;   
}

p,li{
    text-align: justify;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
}
h2{
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    text-shadow: -1px 1px 5px black;
    text-decoration: underline;
}

strong{
    font-weight: bold;
    font-style: italic;
}
.name_footer{
    background: black;
    text-align: center;
    color: white;
}

h1{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
    text-shadow: -1px 1px 5px black;
    color: red;
}





.img-event{
    width: 90%;
    display: block;
    margin: auto;
}

.card{
    width: 60%;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

.nb-parti{
    text-align: center;
}



